{% extends 'base.html' %}

{% block content %}


        <!-- Dashboard Section -->
        <div class="dashboard-section frame">
            <h2><b>Satelital</b> Air Quality Dashboard by place</h2>
            <div class="chart-frame">
                <h4>Data Chart</h4>
                <canvas id="dataChart" width="100%" height="70%"></canvas>
            </div>
            <script>
            function getColor(pm25) {
                if (pm25 > 150) {
                    return colorPalette[5]; // Black
                } else if (pm25 > 100) {
                    return colorPalette[4]; // Purple
                } else if (pm25 > 55) {
                    return colorPalette[3]; // Red
                } else if (pm25 > 35) {
                    return colorPalette[2]; // Orange
                } else if (pm25 > 12) {
                    return colorPalette[1]; // Yellow
                } else {
                    return colorPalette[0]; // Green
                }
            }
            const dataArray = {{ data }};  // Replace with your data source
            const numLabels = dataArray.length;

            //const colorPalette = ['#00e400', '#ffff00', '#ff7e00', '#ff0000', '#8f3f97', '#7e0023'];
            const colorPalette = ['#77ff77', '#ffffcc', '#ffb380', '#ff8080', '#cc99cc', '#cc6677'];
            // Generate labels based on the length of the data
            const labels = Array.from({ length: numLabels }, (_, index) => index);
            //change labels by date
            const ctx = document.getElementById('dataChart').getContext('2d');
            const dataChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'PM2.5 μg/m³',
                        data: {{ data }},
                        borderColor: function(context) {
                            const index = context.dataIndex;
                            const value = context.dataset.data[index];
                            return getColor(value);
                        },
                        backgroundColor:  function(context) {
                            const index = context.dataIndex;
                            const value = context.dataset.data[index];
                            return getColor(value);
                        },
                        borderWidth: 2,
                        pointRadius: 4,
                        pointHoverRadius: 6,
                        segment: {
                            borderColor: 'rgba(240, 240, 240, 0.9)',
                            
                        }
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Measurements (30s)'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'PM2.5 μg/m³'
                            }
                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy',
                            },
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy',
                            }
                        }
                    },
                    responsive: true,
                }
            });
            document.querySelectorAll('button[data-range]').forEach(button => {
                button.addEventListener('click', () => {
                    const range = button.getAttribute('data-range');
                    document.getElementById('selectedRange').value = range;

                    // Submit the form
                    document.getElementById('rangeForm').submit();
                });
            });

            </script>


        </div>

        <!-- ML Algorithms Section -->
        <div class="ml-section frame">
            <h2>Machine Learning Predictions</h2>
            <p>Analyze and predict future air quality trends using our machine learning models.</p>
            <a href="/maphex{{ cordinates }}/predictions"> <button class="btn btn-primary btn-lg">Run ML Prediction</button></a>
        </div>

        <!-- Statistics Section -->
        <div class="ml-section frame">
            <h2>Statistics (In progres 🏗️🚧)</h2>
            <p>Analyze air quality trends using our statistics methods.</p>
            <a href="/maphex{{ cordinates }}/statistics"> <button class="btn btn-primary btn-lg">Run Statistics</button></a>
        </div>

{% endblock %}
