<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:description" content="visualizer and predict for pm2.5 of sensors canairio" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/h3-js@3.7.1"></script>
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" />
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/deck.gl@8.9.33/dist.min.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
    <link rel="icon" href="https://raw.githubusercontent.com/Semillero-Inteligencia-Artificial-EAFIT/airedellin/main/docs/pictures/logo.png"/>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      html, body, #map {
        height: 100%;
      }
      #toggle-button {
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: rgb(130, 25, 191);
        color: #f0ead6;
        font-size: 1.2rem;
        min-width: 70px;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        transition: 0.3s;
      }
      #toggle-button:hover {
        scale: 1.1;
        box-shadow: 0 0 4px 4px gray;
      }
      .maplibregl-popup {
        z-index: 2;
      }
      #pm25-scale {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 8px;
        font-family: Arial, sans-serif;
        font-size: 0.9rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }
      #pm25-scale table {
        border-collapse: collapse;
        width: 100%;
      }
      #pm25-scale th, #pm25-scale td {
        padding: 4px 8px;
        text-align: left;
      }
      .pm-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
      }    </style>
  </head>
  <body>
    <div id="map"></div>
    <button id="toggle-button">Hide</button>
    <!-- Add PM2.5 Scale Table -->
    <div id="pm25-scale">
      <table>
        <thead>
          <tr>
            <th><a href="https://airly.org/en/what-is-pm10-and-what-is-pm2-5/">PM2.5 Range</a></th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0-12 µg/m³ (Good)😊</td>
            <td><span class="pm-color" style="background-color: rgb(153, 255, 153);"></span></td>
          </tr>
          <tr>
            <td>12-35 µg/m³ (Moderate)😮</td>
            <td><span class="pm-color" style="background-color: rgb(255, 255, 153);"></span></td>
          </tr>
          <tr>
            <td>35-55 µg/m³ (Unhealthy for Sensitive Groups)😷</td>
            <td><span class="pm-color" style="background-color: rgb(255, 204, 153);"></span></td>
          </tr>
          <tr>
            <td>55-100 µg/m³ (Unhealthy)🤒</td>
            <td><span class="pm-color" style="background-color: rgb(255, 153, 153);"></span></td>
          </tr>
          <tr>
            <td>100-150 µg/m³ (Very Unhealthy)😶‍🌫</td>
            <td><span class="pm-color" style="background-color: rgb(204, 153, 204);"></span></td>
          </tr>
          <tr>
            <td>150+ µg/m³ (Hazardous)💀</td>
            <td><span class="pm-color" style="background-color: rgb(153, 153, 153);"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      let overlay;
      let show = true;
      let popup = new maplibregl.Popup({ closeButton: true, closeOnClick: false });
      const MAPTILER_KEY = '{{ token }}';
      const sampleData1 = {
        type: 'FeatureCollection',
        name: 'Airedellin',
        crs: { type: 'name', properties: { name: 'urn:ogc:def:crs:OGC:1.3:CRS84' } },
        features: {{ data1|tojson|safe }},
      };
      const sampleData2 = {
        type: 'FeatureCollection',
        name: 'Airedellin',
        crs: { type: 'name', properties: { name: 'urn:ogc:def:crs:OGC:1.3:CRS84' } },
        features: {{ data2|tojson|safe }},
      };
      const map = new maplibregl.Map({
        container: 'map',
        style: `https://api.maptiler.com/maps/aquarelle/style.json?key=${MAPTILER_KEY}`,
        center: [-75.74,6.5],
        zoom: 3.5,
        pitch: 45,
        bearing: -17.6,
        antialias: true,
      });

      map.addControl(new maplibregl.NavigationControl(), 'top-right');

      function initializeH3ClusterLayer() {
        const colorPalette = [
          [153, 255, 153],  // Pastel Green
          [255, 255, 153],  // Pastel Yellow
          [255, 204, 153],  // Pastel Orange
          [255, 153, 153],  // Pastel Red
          [204, 153, 204],  // Pastel Purple
          [153, 153, 153]   // Pastel Gray (softened Black)
        ];
        const layer1 = new deck.H3ClusterLayer({
          id: 'H3ClusterLayer1',
          data: sampleData1.features,
          stroked: true,
          getHexagons: d => d.geometry.coordinates,
          getFillColor: d => {
            const pm25 = d.properties.pm25;
            let alpha = 30;
            if (pm25 > 150) return [...colorPalette[5], alpha]; // Black
            if (pm25 > 100) return [...colorPalette[4], alpha]; // Purple
            if (pm25 > 55) return [...colorPalette[3], alpha]; // Red
            if (pm25 > 35) return [...colorPalette[2], alpha]; // Orange
            if (pm25 > 12) return [...colorPalette[1], alpha]; // Yellow
            return [...colorPalette[0], alpha]; // Green
          },
          getLineColor: [255, 255, 255],
          lineWidthMinPixels: 2,
          pickable: true,
          onClick: ({object, x, y}) => {
            if (object) {
              const coords = map.unproject([x, y]);
              popup.setLngLat(coords)
                .setHTML(`<h4><a href="https://airly.org/en/what-is-pm10-and-what-is-pm2-5/">PM2.5</a>µg/m³ Data</h4><p>${object.properties.pm25}</p><p><a href="/maphex${object.geometry.coordinates}">see data</a></p>`)
                .addTo(map);
            }
          }
        });

        const layer2 = new deck.H3ClusterLayer({
          id: 'H3ClusterLayer2',
          data: sampleData2.features,
          stroked: true,
          getHexagons: d => d.geometry.coordinates,
          getFillColor: d => {
            const pm25 = d.properties.pm25;
            let alpha = 30;
            if (pm25 > 150) return [...colorPalette[5], alpha];
            if (pm25 > 100) return [...colorPalette[4], alpha];
            if (pm25 > 55) return [...colorPalette[3], alpha];
            if (pm25 > 35) return [...colorPalette[2], alpha];
            if (pm25 > 12) return [...colorPalette[1], alpha];
            return [...colorPalette[0], alpha];
          },
          getLineColor: [255, 255, 255],
          lineWidthMinPixels: 2,
          pickable: true,
          onClick: ({object, x, y}) => {
            if (object) {
              const coords = map.unproject([x, y]);
              popup.setLngLat(coords)
                .setHTML(`<h4><a href="https://airly.org/en/what-is-pm10-and-what-is-pm2-5/">PM2.5</a>µg/m³ Data</h4><p>${object.properties.pm25}</p><p><a href="/maphex${object.geometry.coordinates}">see data</a></p>`)
                .addTo(map);
            }
          }
        });

        overlay = new deck.MapboxOverlay({
          layers: [layer1, layer2],
          getTooltip: ({object}) => object && `Click here`
        });
        map.addControl(overlay);
      }

      map.on('load', () => {
        initializeH3ClusterLayer();

        const toggleButton = document.getElementById('toggle-button');
        toggleButton.addEventListener('click', () => {
          if (show) {
            overlay.setProps({ layers: [] });
            toggleButton.innerText = 'Show';
          } else {
            initializeH3ClusterLayer();
            toggleButton.innerText = 'Hide';
          }
          show = !show;
        });
      });
    </script>
  </body>
</html>
